################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Services/Catalog/eShopOnContainers.CatalogService/eShopOnContainers.CatalogService.API/bin/Debug/net5.0
